
<h5>
<div class="row">
<a routerLink="/" >
  <i class="material-icons">grade</i>
</a>
  <a  routerLink="/setup-route" ><button mat-button color="primary" ><h2>Setup</h2></button></a>
  <a  routerLink="/list-route" ><button mat-button color="primary"><h2>Lists</h2></button></a>
  <a  routerLink="/presales-route" ><button mat-button color="primary"><h2>PreSales</h2></button></a>
  <a  routerLink="/purcha-route" ><button  mat-button color="primary"><h2>Purchases</h2></button></a>
  <a  routerLink="/inven-route"  ><button mat-button color="primary"><h2>Inventory</h2></button></a>
  <a  routerLink="/sales-route" ><button mat-button color="primary"><h2>Sales</h2></button></a>
  <a  routerLink="/acc-route" ><button mat-button color="primary"><h2>Accounting</h2></button></a>
  <a  routerLink="/rep-route" ><button  mat-button color="primary"><h2>Reports</h2></button></a>
</div>

  <div>
    <a class="button" routerLink="/prepur-route" >PrePurchase Requests</a>
    <a class="button" routerLink="/newpurord-route" >New PrePurchase Request</a>
    <a class="button" routerLink="/purord-route" >Purchase Orders</a>
    <a class="button" routerLink="/newpur-route" >New Purchase Order</a>
    <a class="button" routerLink="/openPOs-route" >Open POs</a>
    <a class="button" routerLink="/unappr-route" >Unapproved POs</a>
    <a class="button" routerLink="/consign-route" >Consignment POs</a>
  </div>
  <router-outlet></router-outlet>
  </h5>
  <mat-divider></mat-divider>



